# Node y Dependencias
node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*
.pnpm-debug.log*

# Compilacion de Next.js
.next/
out/
build/
.swc/
.vercel

# Variables de Entorno
.env
.env.*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs y OS
*.log
.DS_Store
*.pem

# Agentes AI (Reglas locales)
.agents/

# Prototipos Locales
_prototipos/
